body {
    font-family: Arial, sans-serif;
    background-color: #ffffff30;
}

header {
    background-color: #9a3d9680;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}

header h1 {
    margin: 5;
}

.listarestaurantes {
    display: inline-block;
    margin-left: 10px;
    justify-content: space-between;
    margin: 70px;
}

.restaurante {
    display: inline-block;
    flex: 0 0 calc(33.333% - 20px);
    margin: 30px;
    padding: 200px;
    background-color: #9a3d9680;
    border-radius: 8px;
    text-align: center;
}

.restaurante img {
    width: 600px;
    border-radius: 8px;
}

.restaurante h2 {
    margin-top: 10px;
}

.restaurante p {
    margin: 10px 0;
    font-size: 50px;
}

.restaurante a {
    display: inline-block;
    padding: 30px 50px;
    background-color: #9a396b;
    color: white;
    border-radius: 4px;
    font-size: 30px;
}

.restaurante a:hover {
    background-color: #ffffff;
}
