body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.712);
}

header {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

header h1 {
    margin: 10px;
}

.listarestaurantes {
    display: inline-block;
    margin-left: 20px;
    justify-content: space-between;
    margin: 20px;
}

.restaurante {
    display: inline-block;
    flex: 0 0 calc(33.333% - 20px);
    margin: 20px;
    padding: 10px;
    background-color: purple;
    border-radius: 8px;
    text-align: center;
}

.restaurante img {
    width: 100px;
    border-radius: 8px;
}

.restaurante h2 {
    margin-top: 200px;
}

.restaurante p {
    margin: 10px 0;
    font-size: 20px;
}

.restaurante a {
    display: inline-block;
    padding: 5px 5px;
    background-color: #9a396b;
    color: white;
    border-radius: 4px;
    font-size: 15px;
}

.restaurante a:hover {
    background-color: light pink;
}
