.imagemlista{
    display: inline-block;
    flex-wrap: wrap;
    margin: -10px;
}

.imagem{
    border-radius: 1%;
    flex:  0 0 calc(33.333% - 20px);
    box-sizing: border-box;
}

.h1{
    color: light green;
    text-align: center;
    font-size: 50px;
}

.body{
    background-color: purple;  
}


